body {
    margin: 0px;
    height: 100%;
    font-family: 'Telex', sans-serif;
}

#main {
    background-image: url('grid_noise.png');
    width: 100%;
    min-height: 100%;
}

#wrapper {
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: -5px;
    margin-top: -5px;
}

.otherRow {
    width: 100%;
    margin: 5px;
}

.group {
    margin-bottom: 20px;
}

#firstGroup {
    font-size: 1.3em;
}

.main {
    font-size: 1.5em;
    margin-bottom: -10px;
}
.subtime {
    font-size: .8em;
}
.special {
    font-size: 1em;
    /* color: color3 */
}

.seconds {
    margin-bottom: 10px;
}

.percCompleteRow {
    font-size: 1.2em;
}

.num {
    font-size: 1.6em;
}
.days {
    font-size: 2em;
}

.total {
    font-size: .5em;
}

.tableDiv {
    font-size: 1.3em;
    display: table;  
    table-layout: fixed;  
    width: 850px;
    margin-left: 15%;
    padding-top: 10px;
}

.l {
    text-align: right;
    white-space: nowrap;
    display: table-cell;
    vertical-align: text-bottom;
    width: 300px;
    padding-right: 5px;
}
.r {
    text-align: left;
    display: table-cell;
    vertical-align: text-bottom;
    width: 550px;
}
.gapRow {
    height: 40px;
}

.detailsButton {
    /* color: color2 */
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.4em;
}

#timelineCanvas {
    width: 800px;
    margin-left: 15%;
    height: 75px;
}

#socialContainer {
    position: relative;
    height: 100px;
    min-height: 75px;
    width: 100%;
}

#socialSet {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}

.socialItem {
    float: left;
}
