body {    background: rgb(206,17,38); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,17,38,1) 0%, rgba(119,10,21,1) 100%) no-repeat center center fixed; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,17,38,1)), color-stop(100%,rgba(119,10,21,1))) no-repeat center center fixed; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(206,17,38,1) 0%,rgba(119,10,21,1) 100%) no-repeat center center fixed; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(206,17,38,1) 0%,rgba(119,10,21,1) 100%) no-repeat center center fixed; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(206,17,38,1) 0%,rgba(119,10,21,1) 100%) no-repeat center center fixed; /* IE10+ */
    background: linear-gradient(top,  rgba(206,17,38,1) 0%,rgba(119,10,21,1) 100%) no-repeat center center fixed; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1126', endColorstr='#770a15',GradientType=0 ); /* IE6-9 */
    color: rgb(242,191,73);
    font-family: 'Telex', sans-serif;
    text-shadow: 1px 1px 0px #733;
    margin: 0px;
    height: 100%;
}

#main {
    background-image: url('grid_noise.png');
    width: 100%;
    min-height: 100%;
}

#wrapper {
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: -5px;
    margin-top: -5px;
}

.otherRow {
    width: 100%;
    margin: 5px;
}

.group {
    margin-bottom: 20px;
}

#firstGroup {
    font-size: 1.3em;
}

.main {
    font-size: 1.5em;
    margin-bottom: -10px;
}
.subtime {
    font-size: .8em;
}
.special {
    font-size: 1em;
    color: rgb(236,209,122);
}

.seconds {
    margin-bottom: 10px;
}

.percCompleteRow {
    font-size: 1.2em;
}

.num {
    font-size: 1.6em;
}
.days {
    font-size: 2em;
}

.total {
    font-size: .5em;
}

.tableDiv {
    font-size: 1.3em;
    display: table;  
    table-layout: fixed;  
    width: 850px;
    margin-left: 15%;
    padding-top: 10px;
}

.l {
    text-align: right;
    white-space: nowrap;
    display: table-cell;
    vertical-align: text-bottom;
    width: 300px;
    padding-right: 5px;
}
.r {
    text-align: left;
    display: table-cell;
    vertical-align: text-bottom;
    width: 550px;
}
.gapRow {
    height: 40px;
}

.detailsButton {
    color: rgb(236,209,122);
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.4em;
}

#timelineCanvas {
    width: 800px;
    margin-left: 15%;
    height: 75px;
}
