body {
    background: rgb(206,17,38); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,17,38,1) 0%, rgba(119,10,21,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,17,38,1)), color-stop(100%,rgba(119,10,21,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(206,17,38,1) 0%,rgba(119,10,21,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(206,17,38,1) 0%,rgba(119,10,21,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(206,17,38,1) 0%,rgba(119,10,21,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(206,17,38,1) 0%,rgba(119,10,21,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1126', endColorstr='#770a15',GradientType=0 ); /* IE6-9 */

    color: rgb(242,191,73);
    font-family: 'Telex', sans-serif;
    text-shadow: 1px 1px 0px #733;
    margin: 0px;
}

#wrapper {
    width: 100%;
    height: 100%;
    background-image: url('grid_noise.png');
}

h1 {
    margin-top: 50px;
    font-size: 70px;
    display: none;
}

table {
    font-size: 1.0em;
}

#topSpace {
    height: 7%;
}

#semEndRow {
    font-size: 2.7em;
}
#daysTilSemEnd {
    font-size: 2em;
}

#semTotal {
    font-size: .5em;
}

.percCompleteRow {
    font-size: 1.5em;
}
.percComplete {
    font-size: 1.7em;
}

.schoolDaysRow {
    font-size: 1.5em;
}
.schoolDays {
    font-size: 1.7em;
}


#sprBrkRow {
    font-size: 2.2em;
}
#daysTilSprBrk {
    font-size: 2em;
}

#veisheaRow {
    font-size: 2.2em;
}
#daysTilVeishea {
    font-size: 2em;
}
#riot {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}
tr {
    vertical-align: text-bottom;
}
.l {
    text-align: right;
    white-space: nowrap;
}
.r {
    text-align: left;
}
.gapRow {
    height: 40px;
}
